@import "tailwindcss";

@theme {
    --breakpoint-xs: 21.25rem;
    --color-primary: #11b0c8;
    --color-secondary: #313234;

    @keyframes pop {
        0%   { transform: scale(1); }
        50%  { transform: scale(1.25); }
        100% { transform: scale(1); }
    }

    --animate-pop: pop 0.3s ease-out;
}

body {
    color: #313234;
    background-color: #ffffff;
}

/* button */
.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
    color: #ffffff;
}

.btn-primary {
    background-color: #11b0c8;
}

.btn-secondary,
.btn-tertiary {
    background-color: #313234;
}

.btn-primary:hover {
    background-color: #11b0c8cc;
}

.btn-secondary:hover {
    background-color: #313234cc;
}

.btn-tertiary:hover {
    background-color: #11b0c8;
}

/* card  */

.card {
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    transition: all 300ms ease-in-out;
}

.card-light {
    background-color: #f9f9f9;
}

.card-dark {
    background-color: #1a1a1a;
}

.card-light:hover {
    background-color: #f1f1f1;
}

.card-dark:hover {
    background-color: #313234;
}
